USE [master]
GO
/****** Object:  Database [TIENDA2]    Script Date: 05/09/2024 14:46:22 ******/
CREATE DATABASE [TIENDA2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIENDA2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TIENDA2.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TIENDA2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TIENDA2_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIENDA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIENDA2]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[ID_ARTICULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[PRECIO_UNITARIO] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLES_FACTURA]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_FACTURA](
	[ID_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[NRO_FACTURA] [int] NULL,
	[ID_ARTICULO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[precio] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DETALLES_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACTURAS]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURAS](
	[NRO_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NULL,
	[ID_FORMA_PAGO] [int] NULL,
	[CLIENTE] [varchar](50) NULL,
 CONSTRAINT [PK_FACTURAS] PRIMARY KEY CLUSTERED 
(
	[NRO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMAS_PAGO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMAS_PAGO](
	[ID_FORMA_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[FORMA_PAGO] [varchar](150) NULL,
 CONSTRAINT [PK_FORMA_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMA_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DETALLES_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_ARTICULOS] FOREIGN KEY([ID_ARTICULO])
REFERENCES [dbo].[ARTICULOS] ([ID_ARTICULO])
GO
ALTER TABLE [dbo].[DETALLES_FACTURA] CHECK CONSTRAINT [FK_DETALLES_ARTICULOS]
GO
ALTER TABLE [dbo].[DETALLES_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_FACTURAS] FOREIGN KEY([NRO_FACTURA])
REFERENCES [dbo].[FACTURAS] ([NRO_FACTURA])
GO
ALTER TABLE [dbo].[DETALLES_FACTURA] CHECK CONSTRAINT [FK_DETALLES_FACTURAS]
GO
ALTER TABLE [dbo].[FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_FORMAS] FOREIGN KEY([ID_FORMA_PAGO])
REFERENCES [dbo].[FORMAS_PAGO] ([ID_FORMA_PAGO])
GO
ALTER TABLE [dbo].[FACTURAS] CHECK CONSTRAINT [FK_FACTURAS_FORMAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_CANTIDAD_DETALLE]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_CANTIDAD_DETALLE]
    @NRO_FACTURA INT,
    @ID_ARTICULO INT,
    @CANTIDAD INT
AS
BEGIN
    UPDATE DETALLES_FACTURA
    SET CANTIDAD = CANTIDAD + @CANTIDAD
    WHERE NRO_FACTURA = @NRO_FACTURA AND ID_ARTICULO = @ID_ARTICULO;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_ARTICULO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GUARDAR_ARTICULO]
@id_articulo int ,
@nombre varchar(20),
@precio_unitario decimal
AS
BEGIN 
	IF @id_articulo = 0
		BEGIN
			insert into ARTICULOS(NOMBRE, PRECIO_UNITARIO) 
			values (@nombre,@precio_unitario)	
		END
	ELSE
		BEGIN
			update ARTICULOS 
			set NOMBRE= @nombre, PRECIO_UNITARIO= @precio_unitario 
			where id_articulo=@id_articulo
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_ARTICULO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_INSERTAR_ARTICULO]
	@NOMBRE VARCHAR(30),
	@PRECIO_UNITARIO DECIMAL(10,2)

AS
BEGIN
	INSERT INTO ARTICULOS( NOMBRE, PRECIO_UNITARIO)
	VALUES (@NOMBRE, @PRECIO_UNITARIO)
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DETALLE] 
	@nro_factura int,
	@id_detalle int,
	@id_articulo int,
	@cantidad int,
	@precio decimal

AS
BEGIN
	INSERT INTO DETALLES_FACTURA( NRO_FACTURA, ID_ARTICULO, cantidad, precio) VALUES (@nro_factura, @id_articulo, @cantidad, @precio);
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_FACTURA]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_INSERTAR_FACTURA]
	@FECHA DATETIME,
	@ID_FORMA_PAGO int,
	@CLIENTE VARCHAR(50),
	@NRO_FACTURA INT output
AS
BEGIN
	INSERT INTO FACTURAS(FECHA, ID_FORMA_PAGO, CLIENTE) VALUES (@FECHA, @ID_FORMA_PAGO, @CLIENTE);
	SET @NRO_FACTURA = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_ARTICULO_POR_CODIGO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_ARTICULO_POR_CODIGO]
	@ID_ARTICULO int
AS
BEGIN
	SELECT * FROM ARTICULOS WHERE ID_ARTICULO = @ID_ARTICULO;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_ARTICULOS]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RECUPERAR_ARTICULOS]
AS
BEGIN
	SELECT * FROM ARTICULOS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_DETALLES_POR_CODIGO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_RECUPERAR_DETALLES_POR_CODIGO]
	@ID_DETALLE int
AS
BEGIN
	SELECT * FROM DETALLES_FACTURA WHERE ID_DETALLE = @ID_DETALLE;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_DETALLES_POR_NRO_FACTURA]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_RECUPERAR_DETALLES_POR_NRO_FACTURA]
	@NRO_FACTURA int
AS
BEGIN
	SELECT *
	FROM DETALLES_FACTURA
	WHERE NRO_FACTURA = @NRO_FACTURA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_DETALLES_PRESUPUESTOS]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_DETALLES_PRESUPUESTOS]
AS
BEGIN
	SELECT *
	FROM DETALLES_FACTURA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_FACTURA_CON_DETALLES_POR_CODIGO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_RECUPERAR_FACTURA_CON_DETALLES_POR_CODIGO]
    @NRO_FACTURA int
AS
BEGIN
    -- Obtener la factura
    SELECT
        f.NRO_FACTURA,
        f.FECHA,
        f.ID_FORMA_PAGO,
        f.CLIENTE
    FROM FACTURAS f
    WHERE f.NRO_FACTURA = @NRO_FACTURA;

    -- Obtener los detalles de la factura
    SELECT
        d.ID_DETALLE,
        d.NRO_FACTURA,
        d.ID_ARTICULO,
        d.CANTIDAD,
        d.PRECIO
    FROM DETALLES_FACTURA d
    WHERE d.NRO_FACTURA = @NRO_FACTURA;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_FACTURAS]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_FACTURAS]
AS
BEGIN
	SELECT * FROM FACTURAS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_FACTURAS_POR_CODIGO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RECUPERAR_FACTURAS_POR_CODIGO]
	@NRO_FACTURA int
AS
BEGIN
	SELECT * FROM FACTURAS WHERE NRO_FACTURA = @NRO_FACTURA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_FORMAS_PAGO]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_FORMAS_PAGO]
AS
BEGIN
	SELECT * FROM FORMAS_PAGO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VERIFICAR_DETALLE_EXISTENTE]    Script Date: 05/09/2024 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VERIFICAR_DETALLE_EXISTENTE]
    @NRO_FACTURA INT,
    @ID_ARTICULO INT,
    @EXISTS BIT OUTPUT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM DETALLES_FACTURA
        WHERE NRO_FACTURA = @NRO_FACTURA AND ID_ARTICULO = @ID_ARTICULO
    )
    BEGIN
        SET @EXISTS = 1;
    END
    ELSE
    BEGIN
        SET @EXISTS = 0;
    END
END

GO
USE [master]
GO
